a {
    text-decoration: none;
}


/*head*/

#header {
    float: left;
    width: 100%;
}

header img,
#header ul,
#header nav,
#header div,
#header span,
#header a,
#header i,
#header h3 {
    white-space: nowrap;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif
}

#header {
    padding: 0px;
    margin: 0px;
    height: 60px;
    border-bottom: 1px solid #ececec;
    background: #fff;
    text-align: center;
}

.header-content {
    width: 1000px;
    height: 60px;
    line-height: 60px;
    magin: 0 auto;
    background-color: #FFFFFF;
    display: inline-block;
}


/*head logo*/

.logo {
    width: 109px;
    height: 40px;
    display: inline-block;
    float: left;
}

.logoimg {
    width: 109px;
    height: 40px;
    margin-top: 10px;
}


/*logo end*/


/*nav*/

nav ul {
    float: left;
    font-size: 14px;
}

nav li {
    display: inline-block;
    height: 60px;
    margin-right: 50px;
    cursor: pointer;
    font-size: 14px;
}

#header nav li i {
    margin-left: 5px;
}

#header nav {
    height: 60px;
    width: 385px;
    float: left;
    margin-left: 60px;
}

.arrow-icon {
    width: 8px;
    height: 8px;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    display: inline-block;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform-origin: 4px 4px;
    list-style: none;
}


/*submenu*/

#header nav .submenu h3 {
    margin: 10px 0;
    padding: 0 15px;
    background: #fafafa;
    height: 28px;
    line-height: 28px;
    font-weight: 300;
    font-size: 12px;
}

#header nav .submenu a {
    font-size: 12px;
    display: block;
    height: 30px;
    width: 280px;
    line-height: 30px;
    padding: 0 15px;
    text-align: left;
    color: #000000;
}

#header nav .submenu {
    list-style: none;
    display: none;
    z-index: 1000；
}

#header nav .vip-lesson {
    padding: 10px 0;
}

#header nav .vip-lesson a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #666;
}

#header nav .vip-lesson a span {
    color: #bbb;
    float: right;
}

#header nav .vip-lesson a:hover {
    display: block;
    height: 40px;
    line-height: 40px;
    background: #fafafa;
    color: #35b558;
}


/* 职业学院icon*/

.vip-lesson i,
.school-list i {
    background: url("../img/allicon.png") 0 0 no-repeat;
    background-size: 64px 64px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 10px!important;
}

.school-list i.python-icon,
.school-list i.go-icon,
.school-list i.ios-icon,
.school-list i.wechat-icon {
    background: url("../img/allicon4.png") 0 0 no-repeat;
    background-position: 0 0;
    background-size: 16px 148px;
}

.school-list i.python-icon {
    background-position: -2px -2px;
}

.school-list i.go-icon {
    background-position: -2px -38px;
}

.school-list i.ios-icon {
    background-position: -2px -82px;
}

.school-list i.wechat-icon {
    background-position: -2px -60px;
}

.school-list .web-icon {
    background-position: -15px -27px;
}

.school-list .android-icon {
    background-position: -45px -14px;
}

.vip-lesson i.kck {
    background-position: 0px -12px;
}

.vip-lesson i.zstxt {
    background-position: -30px -12px;
}

.vip-lesson i.zyljt {
    background: url(../img/allicon.png) -44px 0px;
    background-size: 64px;
}

.vip-lesson i.xlkc {
    background: url(../img/xlkc2.png) no-repeat;
    background-size: 12px;
}

.vip-lesson i.kcbq {
    background: url(../img/allicon.png) -14px -12px;
    background-size: 64px;
}

.vip-lesson i.vip-icon {
    background: url(../img/allicon.png) -14px 0px;
    background-size: 64px;
}

.vip-lesson i.jswd-icon {
    background: url(../img/allicon.png) 0px -25px;
    background-size: 64px;
}

.vip-lesson i.wiki-icon {
    background: url(../img/allicon.png) -28px -25px;
    background-size: 64px;
}

.vip-lesson i.sq-icon {
    background: url(../img/allicon.png) 0px 2px;
    background-size: 64px;
}

.vip-lesson i.zygx-icon {
    background: url(../img/allicon.png) -28px 2px;
    background-size: 64px;
}

.loginlist .submenu .top-icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    display: block;
    position: absolute;
    top: -8px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    display: inline-block;
    background: #fff;
}


/*animation*/


/*arrow-animation*/

#header nav li:hover {
    color: #35b558;
    cursor: pointer;
}

#header nav li:hover i.arrow-icon {
    margin-bottom: -2px;
    border-top: 1px solid #35b558;
    border-left: 1px solid #35b558;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    animation: rotate 1s ease normal;
    -moz-animation: rotate 1s ease normal;
    -webkit-animation: rotate 1s ease normal;
}

@keyframes rotate {
    0% {
        margin-bottom: 2px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
    }
    10% {
        margin-bottom: -2px;
    }
    100% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}

#header nav li:hover .submenu {
    display: block;
    position: absolute;
    background: #fff;
}


/*list-animation*/

#header nav li:hover .submenu {
    display: block;
    opacity: 1;
    animation: myfirst 0.8s ease normal;
    -moz-animation: myfirst 0.8s ease normal;
    -webkit-animation: myfirst 0.8s ease normal;
    background: #fff;
}

@keyframes myfirst {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes myfirst
/* Firefox */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes myfirst
/* Safari and Chrome */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes myfirst
/* Opera */

{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*nav end*/


/*header right part*/

.header-right {
    display: block;
    float: right;
    width: 200px;
    height: 60px;
}

#header .search-icon,
#header .app-icon,
#header .login-icon {
    width: 17px;
    height: 60px;
    margin-left: 25px;
    float: right;
}

#header .search-icon {
    background: url(../img/search-icon.png) center no-repeat;
    background-size: 17px 17px;
}

#header .app-icon {
    background: url(../img/app-icon.png) center no-repeat;
    background-size: 17px 17px;
}

#header .login-icon {
    background: url(../img/login-icon.png) center no-repeat;
    background-size: 17px 17px;
}


/*appicon*/

#header .top-icon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    position: relative;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 29px;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    display: inline-block;
    background: #fff;
}

#header .header-right a img {
    width: 120px;
    height: 157px;
    position: relative;
    float: left;
    margin-left: -53px;
    margin-top: 1px
}

#header .header-right a img,
#header .top-icon {
    display: none;
}

#appicon:hover .top-icon {
    transform: rotate(45deg);
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 29px;
    display: inline-block;
    background: #fff;
}

#appicon:hover a img {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: -53px;
    margin-top: 1px;
    opacity: 1;
    animation: myfirst 0.8s ease normal;
    -moz-animation: myfirst 0.8s ease normal;
    -webkit-animation: myfirst 0.8s ease normal;
}


/*login-icon*/

.header-right span {
    cursor: pointer;
}

#loginlist .submenu i {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    float: left;
    position: relative;
    top: 12px;
    background-size: 64px;
    display: inline-block;
    background: url(../img/allicon2.png);
}

#loginlist .submenu .xxzx-icon {
    background-size: 64px;
    background-position: -16px -15px;
}

#loginlist .submenu .grzy-icon {
    background-size: 64px;
    background-position: -45px -1px;
}

#loginlist .submenu .xxtz-icon {
    background-size: 64px;
    background-position: -16px -29px;
}

#loginlist .submenu .zhsz-icon {
    background-size: 64px;
    background-position: -30px -1px;
}

.loginlist .submenu li {
    text-align: center;
    opacity: 0;
    display: none;
    width: 110px;
    height: 36px;
    text-align: left;
    font-size: 12px;
    line-height: 35px;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    float: left;
    position: relative;
}

.loginlist .submenu li a {
    color: #666;
}

#loginlist:hover li {
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 1px;
    opacity: 1;
    animation: myfirst 0.8s ease normal;
    -moz-animation: myfirst 0.8s ease normal;
    -webkit-animation: myfirst 0.8s ease normal;
}

#loginlist:hover ul {
    background-color: #fff;
    float: left;
    position: relative;
    left: -95px;
    top: 1px;
    padding-top: 10px;
}

#loginlist:hover .top-icon {
    transform: rotate(45deg);
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    left: 0px;
    top: 29px;
    display: inline-block;
    background: #fff;
}

#loginlist a:hover {
    color: #35b558;
    border: 0;
}

#loginlist li:hover {
    background-color: #F5F5F5;
}


/*-------------------------------page-------------------------------*/


/*-------------------------------华丽丽的分割线-------------------------------*/

#page {
    background: #F5F5F5;
    float: left;
    width: 100%;
}

.w-1000mar-t20 {
    margin-top: 20px!important;
    clear: both;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}


/*banner*/

.banner {
    width: 750px;
    height: 330px;
    float: left;
    margin-right: 10px;
    cursor: -webkit-grab;
}

.huodong {
    width: 240px;
    height: 160px;
    float: left;
    margin-top: 10px;
}

.banner-container {
    width: 100%;
    height: 100%;
}

.banner-container a {
    display: block;
    width: 750px;
    height: 330px;
    background-size: 750px 330px;
    background: url(../img/58c675755a9c8.gif) center center no-repeat;
}


/*login*/

.login {
    float: left;
    width: 240px;
    height: 160px;
    border: 1px solid #e9e9e9;
    background: #fff;
    box-sizing: border-box;
    padding: 26px 29px 24px;
}

.userInfo {
    height: 57px;
}

.login img {
    float: left;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    margin-right: 15px;
}

.userName {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.userStatus {
    float: left;
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px;
    margin-top: 10px;
}

.loginOn,
.registerNow {
    font-size: 14px;
    float: left;
    display: inline-block;
    width: 83px;
    height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    color: #35b558;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    /* transition: background .8s; */
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s;
    /* transition: color .8s; */
    -moz-transition: color .8s;
    -webkit-transition: color .8s;
    -o-transition: color .8s;
}

.loginOn {
    margin-right: 10px;
}

.loginOn:hover {
    background: #35b558;
    color: #fff;
}

.registerNow:hover {
    background: #35b558;
    color: #fff;
}


/*-------------线上就业班---------------*/

.jiuye {
    float: left;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.jiuye p {
    margin: 0;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    width: 204px;
    text-align: center;
    margin-left: 27px;
}

.jiuye a {
    width: 294px;
    height: 70px;
    float: left;
    margin-bottom: 10px;
    padding-left: 33px;
    line-height: 68px;
    text-decoration: none;
    -webkit-transition: box-shadow .2s linear;
    -moz-transition: box-shadow .2s linear;
    -o-transition: box-shadow .2s linear;
    transition: box-shadow .2s linear;
}

.jiuye a:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, .4);
}

.jiuye-php,
.jiuye-web,
.jiuye-android,
.jiuye-ios {
    margin-right: 9px;
}

.jiuye img {
    width: 55px;
    height: 55px;
    vertical-align: middle;
    border: 0;
    box-sizing: border-box;
}

.jiuye-php {
    background: url(../img/jiuye-ban01_29b9e05.jpg) no-repeat center center;
    background-size: 327px 70px;
}

.jiuye-web {
    background: url(../img/jiuye-ban02_0aec839.jpg) no-repeat center center;
    background-size: 327px 68px;
}

.jiuye-ui {
    background: url(../img/jiuye-ban03_47f0666.jpg) no-repeat center center;
    background-size: 327px 68px;
}

.jiuye-android {
    background: url(../img/jiuye-ban04_b84d257.jpg) no-repeat center center;
    background-size: 327px 68px;
}

.jiuye-ios {
    background: url(../img/jiuye-ban05_9f8330c.jpg) no-repeat center center;
    background-size: 327px 68px;
}

.jiuye-javaweb {
    background: url(../img/jiuye-ban06_2402215.jpg) no-repeat center center;
    background-size: 327px 68px;
}


/*-------------sku-------------*/

.sku {
    width: 1000px;
    height: 268px;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.sku ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

.sku ul li {
    float: left;
    width: 233px;
    height: 100%;
    margin-right: 20px;
    border: 1px solid #e9e9e9;
}

.sku img {
    width: 100%;
    height: 155px;
}

.skuContainer {
    padding: 14px;
    height: 85px;
    position: relative;
    background: #fff;
    display: inline-block;
    margin-top: -2px;
}

.skuTitle {
    width: 205px;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 18px;
    height: 36px;
    margin: 0;
}

.skuInfo {
    margin: 0;
    margin-top: 6px;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
}

.skuPrice {
    float: left;
    font-size: 18px;
    color: #ff5c00;
    vertical-align: bottom;
    margin-right: 5px;
    margin-top: 8px;
}

.skuThrought {
    float: left;
    font-size: 12px;
    color: #999;
    margin-top: 14px;
    text-decoration: line-through;
    vertical-align: bottom;
}

.skuNum {
    display: inline-block;
    height: 14px;
    position: relative;
    bottom: -12px;
    right: -46px;
    color: #999;
    font-size: 12px;
}


/*-------------daniu-------------*/

.daniu {
    width: 1000px;
    margin: 0 auto 40px
}

.daniu ul {
    margin: 0;
    padding: 0;
    height: 280px;
}

.daniu li {
    float: left;
    position: relative;
}

h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px;
    font-weight: normal;
}

.cf {
    list-style: none;
    zoom: 1;
}

.daniu1,
.daniu3,
.daniu5,
.daniu6 {
    width: 345px;
    height: 135px;
}

.daniu2,
.daniu4,
.daniu7 {
    width: 140px;
    height: 135px;
}

.daniu li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding-top: 55px;
}

.daniu li a i {
    display: inline-block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
}
.daniu span{
	    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 8px;
    box-sizing: border-box;
}

/*background*/

.daniu1 {
    margin-left: 0px;
    background: url(../img/daniu1.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.daniu2 {margin-left: 10px;
    background: url(../img/daniu2.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.daniu3 {margin-left: 10px;
    background: url(../img/daniu3.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.daniu4 {margin-left: 10px;
    background: url(../img/daniu4.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.daniu5 {
    margin-left: 0px;
    margin-top: 10px;
    background: url(../img/daniu5.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.daniu6 {margin-left: 10px;
    margin-top: 10px;
    background: url(../img/daniu6.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.daniu7 {margin-left: 10px;
    margin-top: 10px;
    background: url(../img/daniu7.jpg) center center no-repeat;
    background-size: 100% 100%;
}

.daniu8 {
	margin-left: 10px;
    margin-top: 10px;
    line-height: 22px;
    background: url(../img/daniu8.jpg) center center no-repeat;
    background-size: 100% 100%;
}
.daniu8 span{
	width: 140px;
}

.daniu i{
	display: inline-block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}
.daniu li:hover i {
    opacity: .2
}

 /*魔鬼程序员*/
 .mogui {
    width: 1000px;
    margin: 0 auto 40px
}

.mogui h2 {
	float: left;
	width: 100%;
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px
}
.mogui ul{
	width: 1000px;
	height: 270px;
	padding: 0;
}

.mogui li {
    float: left;
    height: 135px;
    position: relative
}

.mogui li:hover i {
    opacity: .2
}

.mogui li>a {
    display: block;
    clear: both;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.8em;
    color: #fff
}

.mogui li>a span {
    display: block;
    font-size: 12px
}

.mogui li>a>img {
    float: left
}

.mogui li>a>div {
    float: left;
    height: 135px;
    padding-top: 70px
}

.mogui li i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s
}

.mogui .mg-1,
.mogui .mg-3 {
    width: 620px
}

.mogui .mg-2,
.mogui .mg-4 {
    width: 380px
}

.mogui .mg-1 {
    background: #df5a49
}

.mogui .mg-1 div {
    padding-left: 20px
}

.mogui .mg-2 {
    background: #efc94c
}

.mogui .mg-2 div {
    padding-left: 20px
}

.mogui .mg-3 {
    background: #e27a3f
}

.mogui .mg-3 div {
    width: 325px;
    text-align: right;
    padding-right: 20px
}

.mogui .mg-4 {
    background: #45b29d
}

.mogui .mg-4 div {
    width: 155px;
    text-align: right;
    padding-right: 20px
}
/*职业学院*/
.jk-college {
    width: 1000px;
    margin: 0 auto;
    height: 310px;
    margin-bottom: 40px
}

.jk-college h2 {
float: left;
	width: 100%;
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px
}
.jk-college ul{
	list-style:none;
	width: 1000px;
	height: 270px;
	padding: 0;
}
.jk-college ul li {
    float: left;
    background: #ccc;
    width: 240px;
    height: 130px;
    margin-left: 10px;
    position: relative
}

.jk-college ul li:hover i {
    opacity: .2
}

.jk-college ul li:hover i:last-child {
    opacity: 0
}

.jk-college ul li a {
    display: inline-block;
    width: 100%;
    height: 100%
}

.jk-college ul li i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s
}

.jk-college ul li img {
    display: inline-block;
    width: 240px;
    height: 130px
}

.jk-college ul li span {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding-top: 88px
}

.jk-college ul li:nth-child(2) {
    margin-bottom: 10px
}

.jk-college ul li:nth-child(3) {
    margin-bottom: 10px
}

.jk-college ul .web {
    width: 500px;
    height: 270px;
    margin-left: 0
}

.jk-college ul .web img {
    display: inline-block;
    width: 500px;
    height: 270px
}

.jk-college ul .web span {
    padding-top: 180px;
    font-size: 20px;
    background: url(https://s1.jikexueyuan.com/index/images/cweb_2d70d0b.png) no-repeat center 70px;
    background-size: 55px 84px
}

.jk-college ul .python {
    margin-bottom: 10px
}

.jk-college ul .python span {
    background: url(https://s1.jikexueyuan.com/index/images/cpython_5ed9df4.png) no-repeat center 31px;
    background-size: 36px 36px
}

.jk-college ul .go {
    margin-bottom: 10px
}

.jk-college ul .go span {
    background: url(https://s1.jikexueyuan.com/index/images/cgo_e66208d.png) no-repeat center 33px;
    background-size: 36px 29px
}

.jk-college ul .ios {
    margin-bottom: 10px
}

.jk-college ul .ios span {
    background: url(https://s1.jikexueyuan.com/index/images/cios_dc0ca8e.png) no-repeat center 36px;
    background-size: 32px 36px
}

.jk-college ul .more {
    margin-bottom: 10px
}

.jk-college ul .more span {
    background: url(https://s1.jikexueyuan.com/index/images/cwechat_624099d.png) no-repeat center 40px;
    background-size: 40px 33px
}

/*会员课程*/
.jk-vip {
    width: 1000px;
    margin: 0 auto;
    height: 420px;
    margin-bottom: 40px;
    box-sizing: border-box
}

.jk-vip h2 {
    float: left;
	width: 100%;
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px
}
.jk a{
	width: 156px;
	height: 148px;
}
.jk-vip .vipAll {
    display: inline-block;
    margin-top: 38px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s
}

.jk-vip .vipAll:hover {
    background: #35b558;
    color: #fff
}

.jk-vip ul {
    width: 100%;
    height: 310px;
    list-style:none;
	width: 1000px;
	height: 310px;
	padding: 0;
}

.jk-vip ul li {
    float: left;
    width: 158px;
    height: 150px;
    border: 1px solid #e9e9e9;
    background: #fff;
    margin-right: 8px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s
}

.jk-vip ul li:hover {
    border: 1px solid #e1e2e1;
    box-shadow: 0 2px 6px #ccc
}

.jk-vip ul li:nth-child(6),
.jk-vip ul li:last-child {margin-top: 0;
    margin-right: 0;
}

.jk-vip ul li:nth-child(n+7) {
    margin-top: 10px;
}

.jk-vip ul li a {
    display: block;
    height: 100%;
    text-align: center;
}

.jk-vip ul li a img {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin-top: 25px;
}

.jk-vip ul li a p {
    font-size: 12px;
    color: #555;
    height: 22px;
    line-height: 22px;
}

.jk-vip ul li a span {
    display: block;
    font-size: 12px;
    color: #35b558;
    height: 22px;
    line-height: 22px;
}
/*学员故事*/
.jk-story {
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    margin-bottom: 40px;
    box-sizing: border-box;
    overflow: hidden
}

.jk-story h2 {
    font-size: 18px;
    color: #555;
    line-height: 18px;
    height: 18px;
    margin-bottom: 22px
}

.jk-story .story-container {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden
}

.jk-story .story-container .story-pagination {
    position: absolute;
    left: 0;
    bottom: 16px;
    text-align: center;
    width: 100%;
    z-index: 800;
    height: 0;
    cursor: pointer
}

.jk-story .story-container .story-pagination .swiper-pagination-switch {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    width: 8px;
    height: 8px;
    background: #bbb;
    vertical-align: middle;
    cursor: pointer
}

.jk-story .story-container .story-pagination .swiper-pagination-switch:last-child {
    margin-right: 0
}

.jk-story .story-container .story-pagination .swiper-active-switch {
    height: 8px;
    width: 16px;
    background: #35b558
}

.jk-story .story-container .swiper-slide {
    position: relative;
    text-align: center;
    float: left;
    background: #f5f5f5!important
}

.jk-story ul {
    height: 200px;
    width: 100%;
    padding-left: 0;
}

.jk-story ul li {
    float: left;
    width: 320px;
    height: 200px;
    position: relative;
    margin-right: 20px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s
}

.jk-story ul li:last-child {
    margin-right: 0;
}

.jk-story ul li a {
    display: block;
    height: 100%
}

.jk-story ul li:hover .story-content {
    border: 1px solid #e9e9e9;
    box-shadow: 0 2px 6px #ccc
}

.jk-story ul .story-content {
    width: 100%;
    height: 121px;
    border: 1px solid #e9e9e9;
    background: #fff;
    position: relative
}

.jk-story ul .story-content:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 12px solid #e9e9e9;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    bottom: -12px;
    left: 46px
}

.jk-story ul .story-content:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 47px
}

.jk-story ul .story-content p {
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    color: #555;
    line-height: 20px;
    padding: 20px 25px;
    text-align: left
}

.jk-story ul .story-content p:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(https://s1.jikexueyuan.com/index/images/storyicon_4a5e270.png) no-repeat center;
    background-size: 14px 10px;
    position: absolute;
    top: 10px;
    left: 10px
}

.jk-story ul .story-content p:after {
    content: '';
    display: inline-block;
    width: 14px;
    height: 10px;
    background: url(https://s1.jikexueyuan.com/index/images/storyicon_4a5e270.png) no-repeat center;
    background-size: 14px 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg)
}

.jk-story ul .story-info {
    height: 80px;
    padding-left: 95px;
    padding-top: 28px;
    position: relative
}

.jk-story ul .story-info img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #e9e9e9
}

.jk-story ul .story-info p {
    font-size: 12px;
    color: #555;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-align: left
}

.jk-story ul .story-info span {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #999;
    font-size: 12px;
    text-align: left
}
/*合作企业*/
.jk-partner {
    width: 1000px;
    margin: 0 auto;
    height: 240px;
    margin-bottom: 40px;
    box-sizing: border-box
}

.jk-partner h2 {
    font-size: 18px;
    color: #555;
    height: 18px;
    line-height: 18px;
    margin-bottom: 22px
}

.jk-partner .more-partner {
    display: inline-block;
    margin-top: 38px;
    height: 32px;
    line-height: 30px;
    border: 1px solid #35b558;
    border-radius: 2px;
    width: 120px;
    font-size: 14px;
    color: #35b558;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -60px;
    transition: background .8s;
    -moz-transition: background .8s;
    -webkit-transition: background .8s;
    -o-transition: background .8s
}

.jk-partner .more-partner:hover {
    background: #35b558;
    color: #fff
}

.jk-partner ul {
    width: 100%;
    height: 120px;
    padding-left: 0;
    list-style: none;
}

.jk-partner ul li {
    float: left;
    width: 148px;
    height: 50px;
    border: 1px solid #e9e9e9;
    background: #fff;
    margin-right: 20px;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s
}

.jk-partner ul li:hover {
    border: 1px solid #e1e2e1;
    box-shadow: 0 2px 6px #ccc
}

.jk-partner ul li:nth-child(6),
.jk-partner ul li:last-child {
    margin-right: 0
}

.jk-partner ul li:nth-child(n+7) {
    margin-top: 20px
}

.jk-partner ul li a {
    display: block;
    height: 100%
}

.jk-partner ul li:nth-child(1) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_microsoft_82f9a9a.png) no-repeat center
}

.jk-partner ul li:nth-child(2) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_tencent_47175aa.png) no-repeat center
}

.jk-partner ul li:nth-child(3) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_qcloud_ab76cc7.png) no-repeat center
}

.jk-partner ul li:nth-child(4) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_qualcomm_362a472.png) no-repeat center
}

.jk-partner ul li:nth-child(5) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_cocos_2a0a8f3.png) no-repeat center
}

.jk-partner ul li:nth-child(6) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_amd_f9f0c7f.png) no-repeat center
}

.jk-partner ul li:nth-child(7) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_xunfei_d1cd670.png) no-repeat center
}

.jk-partner ul li:nth-child(8) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_tuling_3ec6ea2.png) no-repeat center
}

.jk-partner ul li:nth-child(9) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_tingyun_c2752df.png) no-repeat center
}

.jk-partner ul li:nth-child(10) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_juhe_25bbedf.png) no-repeat center
}

.jk-partner ul li:nth-child(11) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_bootstrap_d0a74f3.png) no-repeat center
}

.jk-partner ul li:nth-child(12) a {
    background: url(https://s1.jikexueyuan.com/index/images/p_cloudstack_6ecabb3.png) no-repeat center
}
/*底部*/
a {
	text-decoration: none
}
#footer div,
#footer p,
#footer dd,
#footer dl,
#footer dt {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif
}

#footer {
	min-width: 1000px;
	border-top: 1px solid #e4e4e4;
	background: #fff;
}

#footer .jkinfor-block {
	background: #fff;
}

#footer .jkinfor-block .jkinfor {
	position: relative;
	width: 1000px;
	height: 215px;
	margin: 0 auto;
	border-bottom: 1px solid #f5f5f5;
	padding-left: 224px;
	padding-top: 25px;
	box-sizing: border-box;
}

#footer .jkinfor-block .jkinfor .jk-logo {
	position: absolute;
	left: 0;
	top: 25px;
	display: inline-block;
	width: 160px;
}

#footer .jkinfor-block .jkinfor .jk-logo img {
	width: 109px;
	height: 40px;
	display: block;
}

#footer .jkinfor-block .jkinfor .jk-logo p {
	font-size: 12px;
	color: #999;
	margin-top: 20px;
}

#footer .jkinfor dl {
	width: 135px;
	color: #808080;
	float: left;
}

#footer .jkinfor dl dt {
	font-size: 14px;
	line-height: 30px;
}

#footer .jkinfor dl dd {
	font-size: 12px;
	line-height: 30px;
}

#footer .jkinfor dl dt a {
	color: #808080;
}

#footer .jkinfor dl dd a {
	color: #999999;
}

#footer .jkinfor a:hover {
	color: #35b558;
}

#footer .jk-down {
	position: absolute;
	right: 0;
	top: 25px;
	display: inline-block;
	width: 175px;
	text-align: left;
}

#footer .jk-down .hot-tel {
	color: #808080;
	font-size: 14px;
	margin-bottom: 20px;
}

#footer .jk-down .downCon {
	position: relative;
	display: inline-block;
	width: 140px;
	height: 30px;
	border: 1px solid #eeeeee;
	margin-bottom: 10px;
	line-height: 30px;
	color: #808080;
	font-size: 13px;
	padding-left: 40px;
	cursor: pointer;
}

#footer .jk-down .down-ios {
	background: url(../img/icon-down-ios.png)no-repeat 0 0;
	background-size: 30px 30px;
}

#footer .jk-down .down-and {
	background: url(../img/icon-down-and.png)no-repeat 0 0;
	background-size: 30px 30px;
}

#footer .jk-down .downCon img {
	display: inline-block;
	width: 115px;
	height: 153px;
	position: absolute;
	top: -157px;
	left: 12px;
	z-index: 2;
	display: none;
}

#footer .jk-down .downCon:hover img {
	display: block;
}

#footer .copyright {
	font-size: 12px;
	color: #999;
	margin: 0 auto;
	width: 1000px;
	text-align: center;
	padding: 15px 0
}

#footer .copyright a {
	color: #999;
}

#footer .copyright a:hover {
	color: #35B558;
}

#footer .copyright a.down-sina {
	float: right;
	height: 15px;
	width: 20px;
	margin-right: 10px;
	background: url(../img/icon-down-sina.png)no-repeat 0 0;
	background-size: 20px 15px;
}

#footer .copyright a.down-wechat {
	float: right;
	height: 15px;
	width: 20px;
	background: url(../img/icon-down-wechat.png)no-repeat 0 0;
	background-size: 18px 15px;
}

/*.loading_icon {
	width: 40px;
	height: 40px;
	background: url(../img/loading.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	z-index: 2000;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	display: block;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}*/

.rotate2_360 {
	-webkit-animation: rotate 1.5s infinite linear;
	animation: rotate 1.5s infinite linear;
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg)
	}
}

.ljbm4 {
	width: 300px;
	height: 41px;
	border: none;
	margin-right: 20px;
	outline: none;
	cursor: pointer;
	background: url(../image/baoming2.png) 0 0 no-repeat;
	float: left;
	background-size: 100% 100%;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
}

.gotop {
	position: fixed;
	left: 50%;
	margin-left: 510px;
	bottom: 50px;
	width: 34px;
	text-align: center;
	z-index: 2000
}

.gotop span {
	cursor: pointer
}

.gotop span.top {
	display: block;
	background: url(../img/gotop.jpg) 0 0 no-repeat;
	background-size: 34px 103px;
	width: 34px;
	height: 34px
}

.gotop span.top:hover {
	background: url(../img/gotop2.jpg) 0 0 no-repeat;
	background-position: 0 0;
	background-size: 34px 103px;
	-webkit-background-size: 34px 103px;
	-moz-background-size: 34px 103px
}

.gotop span.erwma {
	position: relative;
	display: block;
	background: url(../img/gotop.jpg) 0 -34px no-repeat;
	background-size: 34px 103px;
	width: 34px;
	height: 35px
}

.gotop span.jk-app {
	position: relative;
	display: block;
	background: #f7f7f7 url(../img/phone-1.png) center center no-repeat;
	background-size: 12px 24px;
	width: 34px;
	height: 35px;
	border-bottom: 1px solid #e0e0e0
}

.gotop span.jk-app:hover {
	background: #f7f7f7 url(../img/phone-2.png) center center no-repeat;
	background-size: 12px 24px
}

.gotop span.jk-app:hover .appewm {
	display: block;
}

.appewm {
	background: url(../img/appewm.png) center center no-repeat;
	background-size: 100%;
	width: 126px;
	height: 159px;
	position: absolute;
	z-index: 2100;
	left: -126px;
	top: -70px;
	display: none
}

.gotop a.qq-online {
	position: relative;
	display: block;
	background: #f7f7f7 url(../img/kfu.png) center center no-repeat;
	width: 34px;
	height: 35px;
	border-top: 1px solid #e0e0e0
}

.gotop a.qq-online1 {
	position: relative;
	display: block;
	background: #f7f7f7 url(../img/kfu1.png) center center no-repeat;
	width: 34px;
	height: 35px;
	border-top: 1px solid #e0e0e0
}

.gotop a.qq-online .kefu {
	position: absolute;
	padding: 5px;
	background: #f7f7f7;
	color: #333;
	font-size: 12px;
	text-align: center;
	width: 180px;
	left: -190px;
	display: none
}

.gotop a.qq-online .kefu i {
	heihgt: 20px;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 10px solid #f7f7f7;
	border-bottom: 8px solid transparent;
	position: absolute;
	right: -10px;
	top: 12px
}

.gotop a.qq-online:hover .kefu {
	display: block
}

.gotop span.erwma img,
.gotop span.jk-app img {
	width: 126px;
	height: 159px;
	position: absolute;
	z-index: 2100;
	left: -126px;
	top: -70px;
	display: none
}

.gotop a.diaocha {
	display: block;
	width: 34px;
	height: 34px
}

.gotop span.erwma:hover {
	background: url(../img/gotop2.jpg) 0 -34px no-repeat;
	background-size: 34px 103px;
	-webkit-background-size: 34px 103px;
	-moz-background-size: 34px 103px
}

.ad_layer{
	z-index:999;
	position:fixed;
	left:50%;
	width:110px;
	height:200px;
	margin-left:515px;
	margin-bottom:-100px;
	bottom:50%;
	background:transparent;
}

.ad_layer .close{
	display:block;
	z-index:999;
	position:absolute;
	top:0;
	right:0;
	width:15px;
	height:15px;
	background:rgb(211,211,211);
	cursor:pointer;
}

.ad_layer .close:before{
	content:'';
	display:inline-block;
	z-index:999;
	position:absolute;
	top:7px;
	left:3px;
	width:10px;
	height:1px;
	background:#fff;
	transform:rotate(45deg);
}

.ad_layer .close:after{
	content:'';
	display:inline-block;
	z-index:999;
	position:absolute;
	top:7px;
	right:2px;
	width:10px;
	height:1px;
	background:#fff;
	transform:rotate(-45deg);
}
